.loader {
  background-color: rgb(215, 255, 191);
  border-radius: 15px;
  outline: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 20px;
  animation-name: loading;
  animation-duration: 3s;
}
.loader-container {
  margin: 0rem 2rem 0rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
  padding-bottom: 40px;
  overflow-x: hidden;
}

@keyframes loading {
  0% {
    background-color: rgb(247, 247, 247);
  }
  25% {
    background-color: rgb(196, 196, 196);
  }
  50% {
    background-color: rgb(177, 180, 176);
  }
  75% {
    background-color: rgb(157, 160, 156);
  }
  100% {
    background-color: rgb(105, 105, 105);
  }
}

@media screen and (max-width: 1920px) {
  .loader-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .loader-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .loader-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .loader-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .loader-container {
    grid-auto-rows: 200px;
  }
}
