.nav-container {
  background-color: white;
  height: 8rem;
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.nav-container-fl {
  background-color: white;
  height: 20rem;
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.brand-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #000;
}

.brand-container {
  cursor: pointer;
}

.logo {
  margin-top: 5px;
  width: 2rem;
  height: 2rem;
}

.search-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  margin: 0 30px;
}

.search-items {
  display: flex;
  justify-content: space-around;
  flex-grow: 3;
}

.search-icon {
  position: relative;
  left: -2.5rem;
  width: 1.5rem;
  cursor: pointer;
  color: #bdbdbd;
}

.search-field {
  width: 100%;
  height: 20px;
  padding: 10px 10px;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  outline: none;
  padding-left: 1.5rem;
  font-size: 17px;
}

.filter-button {
  width: 100px;
  border: 1px solid #5cb113;
  margin: 0 5px 0 5px;
  border-radius: 20px;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 17px;
  cursor: pointer;
  font-weight: 400;
}

.filter-icon {
  width: 2rem;
  display: none;
}

@media screen and (max-width: 1200px) {
  .filter-container {
    grid-template-columns: 1fr 1fr 1.5fr 300px;
  }
}

@media screen and (max-width: 1024px) {
  .filter-container {
    grid-template-columns: 1fr 1fr 1.5fr 180px;
  }
}

@media screen and (max-width: 900px) {
  .filter-container {
    height: 380px;
    grid-template-columns: 1fr 1fr;
  }
  .nav-container-fl {
    height: 25rem;
  }

  #portrait {
    margin-left: 3.2rem;
  }
}

@media screen and (max-width: 765px) {
  .filter-icon {
    display: inline;
  }
  .filter-text {
    display: none;
  }

  .brand-name {
    display: none;
  }

  .filter-button {
    width: 90px;
  }
  .nav-container-fl {
    height: 35rem;
  }
}
