.card {
  border-radius: 15px;
  outline: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 20px;
}

.card:hover {
  opacity: 0.6;
}

.grid-image {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 20px;
}
